@for $i from 0 through 50 {
  .voffset-#{$i*5} { height: 5px * $i; }
}
@for $i from 0 through 50 {
  @media (min-width: 576px){
    .voffset-xs-#{$i*5} { height: 5px * $i; }
  }
}
@for $i from 0 through 50 {
  @media (min-width: 768px){
    .voffset-md-#{$i*5} { height: 5px * $i; }
  }
}
@for $i from 0 through 50 {
  @media (min-width: 992px){
    .voffset-lg-#{$i*5} { height: 5px * $i; }
  }
}
@for $i from 0 through 50 {
  @media (min-width: 1200px) {
    .voffset-xl-#{$i*5} { height: 5px * $i; }
  }
}

.blue{
  color: #46c4fd;
}

.orange{
  color: #fb6867;
}

.purple{
  color: #825fc2;
}

.dark-blue{
  color: #2687e9;
}

.no-padding{
  padding: 0;
}


.nomargin{
  margin: 0;
}
.nopadding{
  padding: 0;
}

.page-header {
    padding-bottom: 0px;
    margin: 0px;
    border-bottom: 0px;
}

.img-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 100%;
}

.square-box{
  position: relative;
  width: 100%;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.dropdown-toggle::after{
  border: none;
  font-family: FontAwesome;
  content: "\f107";
  vertical-align: top;
}

.multiselect-native-select{ 

  .multiselect{ 

  }

  .btn-group{ 

    .multiselect{
      background-color: transparent;
      border: solid 1px #8d99ae;

      .multiselect-selected-text{ 
        font-size: 16px;
        line-height: 1.38;
        text-align: left;
        color: #2b2e43;
        border-radius: 2px;
        background-color: #f7faff;
        padding-left: 7px;
        padding-right: 7px;
        margin-left: 6px;
      }

      .caret{ 

      }
    }

    .multiselect-container{ 

      li{ 

        a{ 

          .checkbox{ 

            input{ 

            }
          }
        }
      }
    }
  }
}



@media (min-width: 992px){
/* to make bootstrap columns equal height */
  .is-table-row {
	display: table;
	width: 100%;
  }
  .is-table-row>[class*='col-'] {
	  float: none;
	  display: table-cell;
	  vertical-align: top;
  }

	/* to make inside block fullheight */
	.is-table-row>[class*='col-'] {
		height: 100%;
	}
}