// Toggle Switch
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-bottom: 0;
  
  input {
    display:none;
    
      &:checked + .slider {
        background-color: #2196F3;
        
        &:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
        }
      }
      &:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 0px;
      bottom: 0px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 20px;
      
      &:before {
        border-radius: 50%;
      }
    }
  }
}

// custom_btn
.custom_btn{
  display: inline-block;
  text-align: center;
  padding: 11px 24px;
  border-radius: 3px;
  border: solid 1px #8d99ae;
  cursor: pointer;
  font-size: 16px;

  &:hover{
    text-decoration: none;
  }

  &.white{
    background-color: #fff;
    color: #616d80;
    opacity: 0.5;

    &:hover{
      background-color: darken(#fff,10%);
    }
  }
  &.blue{
    background-color: #46c4fd;
    color: #fff;

    &:hover{
      background-color: darken(#46c4fd,10%);
    }
  }
  &.pink{
    background-color: #b000d2;
    color: #fff;

    &:hover{
      background-color: darken(#b000d2,10%);
    }
  }
  &.orange{
    background-color: #ff7b53;
    color: #fff;

    &:hover{
      background-color: darken(#ff7b53,10%);
    }
  }

}

// Upload btn
.upload_btn{
  position: relative;
  display: inline-block;
  overflow: hidden;

  input{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%;
    opacity: 0;
    z-index: 1;

    &:hover{
      cursor: pointer;
    }
  }
  .text{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: #4a90e2;
  }
}