@mixin fontdef($path, $version, $folder) {
  src:  url('#{$path}/#{$folder}/#{$folder}.eot?v=#{$version}');
  src:  url('#{$path}/#{$folder}/#{$folder}.eot?#iefix&v=#{$version}') format('embedded-opentype'),
        url('#{$path}/#{$folder}/#{$folder}.woff2?v=#{$version}') format('woff2'),
        url('#{$path}/#{$folder}/#{$folder}.woff?v=#{$version}') format('woff'),
        url('#{$path}/#{$folder}/#{$folder}.ttf?v=#{$version}') format('truetype'),
        // url('#{$path}/#{$folder}/#{$folder}.svg?v=#{$version}') format('svg');
}
