.page-body{
	.timeline{
		font-family: Roboto;
		max-width: 630px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;

		.col{
			padding: 0;
			height: 51px;

			.left,
			.right{
				position: absolute;
				bottom: 0;
			  	font-size: 16px;
		  		text-align: center;
		  		z-index: 3;
			  
			}
			.right{
				color: #001f4c;
			}
			&.filled{
				.right{
				  color: #0070d2;
				}
			}
			.left{
				left: 9px;
				transform: translateX(-50%);
				color: #0070d2;
			}
			.right{
				right: 0;
				transform: translateX(50%);
			}
			&:last-of-type .right{
				right: 9px;
			}

			.image{
				position: relative;
				height: 18px;

				&:before{
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -2px;
					height: 4px;
					left: 0;
					width: 100%;
					background-color: #b2c5d2;
					z-index: 1;
				}
			}
			&:first-of-type{
				.image{
					&:after{
						content: "";
						display: block;
						position: absolute;
						top: 0;
						height: 100%;
						left: 0;
						width: 24.8px;
						background-image: url(../images/timeline_l.png);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: left center;
						z-index: 1;
					}
				}
			}
			&:last-of-type{
				.image{
					&:after{
						content: "";
						display: block;
						position: absolute;
						top: 0;
						height: 100%;
						right: 0;
						width: 24.8px;
						background-image: url(../images/timeline_r_gray.png);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: right center;
						z-index: 1;
					}
				}
				&.filled{
					.image{
						&:after{
							background-image: url(../images/timeline_r.png);
						}
					}
				}
			}
			.image{
				.circle:before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					height: 100%;
					right: -9px;
					width: 18px;
					z-index: 2;
					border-radius: 50%;
					background-color: #b2c5d2;
				}
			}
			&.filled{
				.image{
					&:before{
						background-color: #0070d2;
					}
					.circle:before{
						background-color: #0070d2;
					}
				}
			}
			&.filled:not(.active){
				.image{
					.circle:after{
						content: "";
						display: block;
						position: absolute;
						top: 50%;
						margin-top: -4px;
						height: 8px;
						right: -4px;
						width: 8px;
						z-index: 3;
						border-radius: 50%;
						background-color: #fff;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.page-body{
		.timeline{
			padding-left: 70px;
			padding-right: 70px;
		}
	}
}