.customers{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;
	
				.sidebar{
					.download{
						.title{
							font-size: 16px;
							font-weight: bold;
							line-height: 1.38;
							text-align: left;
							color: #2b2e43;
						}
						.links{
							line-height: 22px;
							height: 22px;

							a{
								display: inline-block;
								line-height: 100%;
								vertical-align: middle;
								font-size: 16px;
								color: #825fc2;
							}
							.fa{
								display: inline-block;
								line-height: 100%;
								vertical-align: middle;
								margin: 0 5px;
								font-size: 3px;
								color: #825fc2;
							}
						}
					}
				}

				.content{
					.content_menu{
						margin-left: 20px;
						margin-right: 20px;
					}
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 12px;
					    padding-right: 12px;
					    overflow-x: auto;

					    .rwd-table{
							width: 100%;
							min-width: 700px;
							text-align: left;

					    	.table-header{
								font-size: 14px;
								line-height: 1.57;
								color: #8d99ae;

								th{
									padding: 21px 16px;
									position: relative;

									.filter{
										position: relative;
										margin-left: 5px;
										width: 5px;

										.fa-caret-up{
											position: absolute;
											bottom: 50%;
											left: 0;
											margin-bottom: -2px;
											font-size: 11px;
											color: #616d80;
										}
										.fa-caret-down{
											position: absolute;
											top: 50%;
											left: 0;
											margin-top: -2px;
											font-size: 11px;
											color: #616d80;
										}
									}
									&.active{
										&.asc{
											.fa-caret-up{
												color: #46c4fd;
											}
											.fa-caret-down{
												display: none;
											}
										}
										&.desc{
											.fa-caret-up{
												display: none;
											}
											.fa-caret-down{
												color: #46c4fd;
											}
										}
									}
								}
					    	}
					    	tr{
								font-size: 16px;
								line-height: 1.38;
								color: #2b2e43;

								&:not(:first-of-type):hover{
									border-radius: 4px;
									background-color: #f8fbff;
								}
								td{
									padding: 19px 16px;
								}

					    	}
					    }
					}
				}
			}
		}
	}
}

@media (min-width: 768px){
	.customers{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.content{
						.bg{
						    .rwd-table{
								min-width: 0;
						    }
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.customers{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.sidebar{
						.download{
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.customers{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.content_menu{
							margin-left: 28px;
							margin-right: 28px;
						}
						.bg{
						    padding-left: 12px;
						    padding-right: 12px;

						}
					}
				}
			}
		}
	}
}