.email-edit{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;

				.content{
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 20px;
					    padding-right: 20px;

						.fields{

							.field{
								font-size: 16px;
								line-height: 1.38;
								color: #2b2e43;
								line-height: 30px;

								&:after {
								    display: block;
								    clear: both;
								    content: "";
								}
								.field_title{
									height: auto;
									text-align: left;
									font-weight: bold;
								}
								.field_value{
									text-align: left;
								}
							}
						}
						.divider{
							width: 100%;
							height: 1px;
							opacity: 0.1;
							background-color: #8d99ae;
						}
						.letter{
							width: 100%;
							height: auto;
							font-size: 16px;
							line-height: 1.38;
							text-align: left;
							color: #2b2e43;

							span{
								font-weight: bold;
							}
							a{
								color: #46c4fd;
							}
						}
					}
					.unstyled{
						.styled-checkbox {
						  position: absolute; // take it out of document flow
						  opacity: 0; // hide it

						  & + label {
						    position: relative;
						    cursor: pointer;
						    padding: 0;
						  }

						  // Box.
						  & + label:before {
						    content: '';
						    margin-right: 10px;
						    display: inline-block;
						    vertical-align: text-top;
						    width: 22px;
						    height: 22px;
						    background: white;
						    border: solid 1px #8d99ae;
						  }

						  // Box hover
						  &:hover + label:before {
						    border: solid 1px #46c4fd;
						  }
						 
						  // Box checked
						  &:checked + label:before {
						    background: #fff;
						  }

						  // Checkmark. Could be replaced with an image
						  &:checked + label:after {
						    content: '';
						    position: absolute;
							left: 6px;
							top: 11px;
						    background: white;
						    width: 2px;
						    height: 2px;
						    box-shadow:
							  inset -2px 0px 0 #46c4fd,
						      2px 0 0 #46c4fd,
						      4px 0 0 #46c4fd,
						      4px -2px 0 #46c4fd,
						      4px -4px 0 #46c4fd,
						      4px -6px 0 #46c4fd,
						      4px -8px 0 #46c4fd;
						    transform: rotate(45deg);
						  }
						}
						label{
							font-size: 16px;
							line-height: 1.38;
							text-align: left;
							color: #8d99ae;
						}
					}
					.buttons{
						text-align: right;
						font-size: 0;

						.custom_btn:first-of-type(){
							margin-right: 12px;
						}
					}
				}
			}
		}
	}
}
.nopadding{
	padding: 0;
}

@media (min-width: 576px){
	.email-edit{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.content{
						.bg{
							.fields{
								.field{
									.field_title{
										float: left;
										width: 20%;
										text-align: right;
									}
									.field_value{
										float: left;
										margin-left: 3%;
										width: 77%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px){
	.email-edit{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.content{
						.bg{
							.fields{
								.field{
									.field_title{
										width: 14%;
									}
									.field_value{
										margin-left: 2%;
										width: 84%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.email-edit{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.bg{
						    padding-left: 28px;
						    padding-right: 28px;
						}
					}
				}
			}
		}
	}
}