.home{
	.page-body{
		.search-engine{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;
			}
		}
		.all-time-recovery {
			.container-fluid{
				padding-left: 40px;
				padding-right: 40px;

				.bg{
					padding-left: 20px;
					padding-right: 20px;
					border-radius: 3px;
					background-color: #ffffff;
					box-shadow: 0 10px 10px 0 rgba(141, 153, 174, 0.15);
					text-align: center;

					.title{
					    text-transform: uppercase;
						font-size: 12px;
						font-weight: 600;
						letter-spacing: 1.3px;
						text-align: left;
						color: #2b2e43;
					}
					.sub-title{
						text-align: center;
						color: #616d80;
						line-height: 30px;
						height: 30px;

						.text {
							display: inline-block;
							font-size: 16px;
							line-height: 100%;
							vertical-align: middle;      
						}
						.dot {
							display: inline-block;
							font-size: 30px;
							font-weight: 700;
							line-height: 100%;
							vertical-align: top;      
						}
					}
					.inline-block .sum, .sum {
						font-size: 30px;
						font-weight: 500;
						letter-spacing: -0.5px;
						text-align: center;
						color: #2b2e43;
						line-height: 30px;
						height: 30px;

						.symbol{
							display: inline-block;
							font-size: 14px;
							letter-spacing: -0.2px;
							line-height: 100%;
							vertical-align: top;
						}
						.number{
							display: inline-block;
							line-height: 100%;
							vertical-align: top;
						}
					}
					.inline-block{
						display: inline-block;

						.diargram{
						  width: 56px;
						  height: 56px;
						  margin-left: 30px;
						  
						  svg{
						    width: 100%;
						    height: 100%;
						    
						    circle{
						      fill: transparent;
						    }
						    path{
						      &:nth-of-type(1),&:nth-of-type(4){
						        stroke: #fb6867;
						      }
						      &:nth-of-type(2){
						        stroke: #825fc2;
						      }
						      &:nth-of-type(3){
						        stroke: #46c4fd;
						      }
						    }
						  }
						}
					}
				}
			}
		}
		.current-opportunity{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;

				.title{
				    text-transform: uppercase;
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 1.3px;
					text-align: left;
					color: #2b2e43;
				}
				.divider{
					height: 1px;
					opacity: 0.2;
					background-color: #8d99ae;
				}
				.sub-title{
					font-size: 16px;
					text-align: center;
					color: #616d80;
				}
				.sum{
					font-size: 24px;
					font-weight: 500;
					letter-spacing: -0.3px;
					text-align: center;
					color: #2b2e43;
					line-height: 24px;
					height: 24px;

					.symbol,.percentages{
						display: inline-block;
						font-size: 16px;
						letter-spacing: -0.2px;
						line-height: 100%;
						vertical-align: middle;
					}
					.number{
						display: inline-block;
						line-height: 100%;
						vertical-align: middle;
					}
				}
			}
		}

		.recover-outcome{
			.container-fluid{
				padding-left: 40px;
				padding-right: 40px;

				.col-xl-4{
					margin-bottom: 50px;

					.bg{
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0 rgba(141, 153, 174, 0.15);
						height: 100%;
						padding-left: 20px;
						padding-right: 20px;

						.title{
						    text-transform: uppercase;
							font-size: 12px;
							font-weight: 600;
							letter-spacing: 1.3px;
							text-align: left;
							color: #2b2e43;
						}
						.sub-title{
							font-size: 16px;
							line-height: 1.38;
							text-align: left;
							color: #616d80;
						}
						.col-3{
							padding-left: 10px;
							padding-right: 10px;

							.sum{
								font-size: 16px;
								font-weight: bold;
								line-height: 1.38;
								text-align: right;
								color: #2b2e43;

								&.blue{
									color: #46c4fd;
								}
								&.orange{
									color: #fb6867;
								}
								&.purple{
									color: #825fc2;
								}
								&.dark-blue{
									color: #2687e9;
								}
							}
							.description{
								font-size: 12px;
								line-height: 1.83;
								text-align: right;
								color: #8d99ae;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 576px){
	.home{
		.page-body{
			// .search-engine{

			// }
			.all-time-recovery {
				.bg{

					.sub-title{
						text-align: left;
					}
					.inline-block .sum, .sum {
						text-align: left;
					}
				}
			}
			// .current-opportunity{

			// }
		}
	}
}

@media (min-width: 768px){
	.home{
		.page-body{
			// .search-engine{

			// }
			// .all-time-recovery {

			// }
			.current-opportunity{
				.container-fluid{

					.sub-title{
						text-align: left;
					}
					.sum{
						text-align: left;
					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.home{
		.page-body{
			// .search-engine{

			// }
			.all-time-recovery {
				.container-fluid{

					.bg{
						text-align: left;

						.sub-title{
							text-align: left;
						}
						.inline-block .sum, .sum {
							text-align: left;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.home{
		.page-body{
			.search-engine{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.all-time-recovery {
				.container-fluid{
					padding-left: 79px;
					padding-right: 79px;

					.bg{
						padding-left: 28px;
						padding-right: 28px;

						.inline-block .sum, .sum {
							font-size: 36px;
							line-height: 36px;
							height: 36px;

							.symbol{
								font-size: 16px;
							}
						}
					}
				}
			}

			.current-opportunity{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;
				}
			}

			.recover-outcome{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.col-xl-4{
						margin-bottom: 0;

						&:nth-of-type(1){
							padding-left: 0;
							padding-right: 20px;
						}
						&:nth-of-type(2){
							padding-left: 10px;
							padding-right: 10px;
						}
						&:nth-of-type(3){
							padding-left: 20px;
							padding-right: 0;
						}

						.bg{
							padding-left: 28px;
							padding-right: 28px;
						}
					}
				}
			}
		}
	}
}