.login{
	.page-body{
		.login-section{

			&>.container-fluid{

				&>.row{
					&>[class*='col-']:first-of-type{
						background-color: #b000d2;

						&>.row{
							min-height: 80px;
						}
					}

					&>[class*='col-']:last-of-type{
						max-height: 100%;
						overflow: auto;

						form{
							font-family: Roboto;
							max-width: 440px;
							margin-left: auto;
							margin-right: auto;

							.form-group{
								margin-bottom: 15px;
							}

							.title {
							  font-size: 20px;
							  text-align: center;
							  color: #001f4c;
							}
							.sing-up-link{
							  font-size: 14px;
							  text-align: left;
							  color: #0070d2;
							}
							.forgot-password-link{
							  opacity: 0.4;
							  font-size: 14px;
							  text-align: left;
							  color: #001f4c;
							}
							label{
							  
							  font-size: 14px;
							  text-align: left;
							  color: #668ba5;
							}
						}
					}



				}

			}
		}
	}
}



@media (min-width: 992px){
	.login{
		.page-body{
			height: 100%;

			.login-section{
				height: 100%;

				&>.container-fluid{
					height: 100%;

					&>.row{
						height: 100%;

						&>[class*='col-']:first-of-type{
							height: 100%;
							&>.row{
								height: 100%;

							}
						}
					}

				}
			}
		}
	}
}