.settings-general{
	.page-body{
		.bread-crumbs { 
			.container-fluid { 
				padding-left: 60px;
				padding-right: 60px;
			}
		}

		.content_wrapper{
			.container-fluid{
				padding-left: 60px;
				padding-right: 60px;
				.sidebar{
					.custom_btn{
						&.white{
							border: solid 1px #825fc2;
							color: #825fc2;
							opacity: 1;
						}
					}
				}

				.content{
					.content_menu{
						margin-left: 20px;
						margin-right: 20px;
					}
					.bg{
						position: relative;
						border-radius: 3px;
						background-color: #ffffff;
						box-shadow: 0 10px 10px 0
						rgba(141, 153, 174, 0.15);
					    padding-left: 20px;
					    padding-right: 20px;


						.private{ 
							padding-left: 6px;
							padding-right: 6px;

							.title{ 
								font-size: 20px;
								letter-spacing: -0.3px;
								color: #2b2e43;
							}
							.form-group{ 

								label{ 
									font-size: 16px;
									font-weight: bold;
									line-height: 1.38;
									text-align: left;
									color: #616d80;
									margin-bottom: 12px;
								}
								.form-control{ 

								}
							}
							.buttons{
								text-align: right;
							}

						}

						.divider{
							height: 1px;
							width: 100%;
							opacity: 0.1;
							background-color: #8d99ae;
						}

						.api-key{
							padding-left: 6px;
							padding-right: 6px;

							.title{ 
								font-size: 20px;
								letter-spacing: -0.3px;
								color: #2b2e43;
							}
							.form-group{ 
								label{ 
									font-size: 16px;
									font-weight: bold;
									line-height: 1.38;
									text-align: left;
									color: #616d80;
									margin-bottom: 12px;
								}
								.form-control{}
								.custom-select{
									display: block;
									width: 100%;
								}
								.custom-select{
									// $custom-select-indicator:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;
								}
							}
							.buttons{
								text-align: right;
							}

						}

					}
				}
			}
		}
	}
}

@media (min-width: 992px){
	.settings-general{
		.page-body{
			.content_wrapper{
				.container-fluid{
					.sidebar{

					}
				}
			}
		}
	}
}

@media (min-width: 1280px){
	.settings-general{
		.page-body{
			.bread-crumbs { 
				.container-fluid { 
					padding-left: 107px;
					padding-right: 107px;
				}
			}
			.content_wrapper{
				.container-fluid{
					padding-left: 107px;
					padding-right: 107px;

					.content{
						.content_menu{
							margin-left: 28px;
							margin-right: 28px;
						}
						.bg{
						    padding-left: 28px;
						    padding-right: 28px;

						}
					}
				}
			}
		}
	}
}